!!!5
%html
  %head
    %title RubyRevealed
    = stylesheet_link_tag 'application', media: "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main
      .container
        .well
          RubyRevealed is a story about how two friends, Adam Dalton and Andy Davis, developed this blog.
          In theory, if one were to follow this blog from start to finish at any time, you would have an exact
          copy of this site.
        .well
          = render 'layouts/messages'
          = yield

        %footer
          %strong Created by Andy Davis & Adam Dalton

    = javascript_include_tag 'prettyify'